{
  "openapi": "3.1.0",
  "info": {
    "title": "TheFaithApp API",
    "description": "The Faith App API for managing church subscriptions and retrieving audio and video sermons.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.thefaithapp.com/api"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/open/subscribe": {
      "post": {
        "summary": "Subscribe to Church",
        "description": "Subscribes a user to a church using their Firebase ID token and the client API key.",
        "tags": [
          "Open API"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Your client API key from the dashboard (Settings page).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "FCM token for the user's device.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fcm_token": {
                    "type": "string",
                    "description": "User's FCM device token."
                  }
                },
                "required": [
                  "fcm_token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully subscribed user to church.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Church subscribed to Example Church"
                    },
                    "user": {
                      "type": "string",
                      "description": "Firebase UID of the user"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key or Firebase token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Client or Firebase credentials not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Client not found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error (e.g., missing fcm_token).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "fcm_token": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "The fcm token field is required."
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Failed to process subscription"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/open/audios": {
      "get": {
        "summary": "Get Audio Sermons",
        "description": "Retrieve a paginated list of audio sermons for the authenticated user's church. Supports optional search and pagination.",
        "tags": [
          "Open API"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Your client API key from the dashboard (Settings page).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter audio sermons.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (default: 1).",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of audio sermons.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "current_page": {
                      "type": "integer",
                      "description": "Current page number of the result set.",
                      "example": 1
                    },
                    "data": {
                      "type": "array",
                      "description": "List of audio sermon objects.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Unique identifier for the audio sermon.",
                            "example": 6
                          },
                          "client_id": {
                            "type": "integer",
                            "description": "ID of the church/client this audio belongs to.",
                            "example": 2
                          },
                          "category_id": {
                            "type": "integer",
                            "description": "ID of the category for this audio.",
                            "example": 2
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the audio sermon.",
                            "example": "Theme songs"
                          },
                          "description": {
                            "type": "string",
                            "description": "Description of the audio sermon.",
                            "example": "Honour music"
                          },
                          "source": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL to the audio file or external audio link.",
                            "example": "https://d2c58p2vdu8kb2.cloudfront.net/audios/htE1gR0GTssLCZaVMKjTH6P1Q3w81dHz7KdyvVuJ.mp3"
                          },
                          "duration": {
                            "type": "string",
                            "description": "Duration of the audio in MM:SS format.",
                            "example": "02:59"
                          },
                          "media_type": {
                            "type": "string",
                            "description": "Type of audio source. `0` = uploaded audio file, `1` = provided audio link.",
                            "example": "0",
                            "enum": [
                              "0",
                              "1"
                            ]
                          },
                          "deleted_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time",
                            "description": "Timestamp when the audio was deleted, or null if not deleted.",
                            "example": null
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the audio was created.",
                            "example": "2025-02-08T13:15:52.000000Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the audio was last updated.",
                            "example": "2025-02-08T13:15:52.000000Z"
                          },
                          "cover_photo": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL to the cover photo image for the audio.",
                            "example": "https://d2c58p2vdu8kb2.cloudfront.net/cover_photo/XtzGozzqa6C8LIZ8RaAclJG7yO0Bj57JFlqTl3c2.jpg"
                          }
                        }
                      }
                    },
                    "first_page_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to the first page of results.",
                      "example": "https://app.thefaithapp.com/api/v1/open/audios?page=1"
                    },
                    "from": {
                      "type": "integer",
                      "description": "Index of the first item returned.",
                      "example": 1
                    },
                    "last_page": {
                      "type": "integer",
                      "description": "Last page number of the result set.",
                      "example": 1
                    },
                    "last_page_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to the last page of results.",
                      "example": "https://app.thefaithapp.com/api/v1/open/audios?page=1"
                    },
                    "links": {
                      "type": "array",
                      "description": "Pagination navigation links.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "uri",
                            "description": "URL for the page link, or null if not available.",
                            "example": null
                          },
                          "label": {
                            "type": "string",
                            "description": "Label for the page link (e.g., 'Next', 'Previous', or page number).",
                            "example": "&laquo; Previous"
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Whether this page link is active.",
                            "example": false
                          }
                        }
                      }
                    },
                    "next_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri",
                      "description": "URL to the next page of results, or null if on the last page.",
                      "example": null
                    },
                    "path": {
                      "type": "string",
                      "format": "uri",
                      "description": "Base path for the paginated results.",
                      "example": "https://app.thefaithapp.com/api/v1/open/audios"
                    },
                    "per_page": {
                      "type": "integer",
                      "description": "Number of items per page.",
                      "example": 30
                    },
                    "prev_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri",
                      "description": "URL to the previous page of results, or null if on the first page.",
                      "example": null
                    },
                    "to": {
                      "type": "integer",
                      "description": "Index of the last item returned.",
                      "example": 2
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of items available.",
                      "example": 2
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "current_page": 1,
                      "data": [
                        {
                          "id": 6,
                          "client_id": 2,
                          "category_id": 2,
                          "title": "Theme songs",
                          "description": "Honour music",
                          "source": "https://d2c58p2vdu8kb2.cloudfront.net/audios/htE1gR0GTssLCZaVMKjTH6P1Q3w81dHz7KdyvVuJ.mp3",
                          "duration": "02:59",
                          "media_type": "0",
                          "deleted_at": null,
                          "created_at": "2025-02-08T13:15:52.000000Z",
                          "updated_at": "2025-02-08T13:15:52.000000Z",
                          "cover_photo": "https://d2c58p2vdu8kb2.cloudfront.net/cover_photo/XtzGozzqa6C8LIZ8RaAclJG7yO0Bj57JFlqTl3c2.jpg"
                        }
                      ],
                      "first_page_url": "https://app.thefaithapp.com/api/v1/open/audios?page=1",
                      "from": 1,
                      "last_page": 1,
                      "last_page_url": "https://app.thefaithapp.com/api/v1/open/audios?page=1",
                      "links": [
                        {
                          "url": null,
                          "label": "&laquo; Previous",
                          "active": false
                        },
                        {
                          "url": "https://app.thefaithapp.com/api/v1/open/audios?page=1",
                          "label": "1",
                          "active": true
                        },
                        {
                          "url": null,
                          "label": "Next &raquo;",
                          "active": false
                        }
                      ],
                      "next_page_url": null,
                      "path": "https://app.thefaithapp.com/api/v1/open/audios",
                      "per_page": 30,
                      "prev_page_url": null,
                      "to": 2,
                      "total": 2
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key or Firebase token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "User not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/open/videos": {
      "get": {
        "summary": "Get Video Sermons",
        "description": "Retrieve a paginated list of video sermons for the authenticated user's church. Supports optional search and pagination.",
        "tags": [
          "Open API"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Your client API key from the dashboard (Settings page).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter video sermons.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (default: 1).",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of video sermons.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "current_page": {
                      "type": "integer",
                      "description": "Current page number of the result set.",
                      "example": 1
                    },
                    "data": {
                      "type": "array",
                      "description": "List of video sermon objects.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Unique identifier for the video sermon.",
                            "example": 2
                          },
                          "client_id": {
                            "type": "integer",
                            "description": "ID of the church/client this video belongs to.",
                            "example": 2
                          },
                          "category_id": {
                            "type": "integer",
                            "description": "ID of the category for this video.",
                            "example": 2
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the video sermon.",
                            "example": "A Man Works For His Wife's Father While She Spends Time With Other Guys"
                          },
                          "description": {
                            "type": "string",
                            "description": "Description of the video sermon.",
                            "example": "Today we're reviewing the comedy-drama film from 2007..."
                          },
                          "source": {
                            "type": "string",
                            "description": "Video source identifier. For YouTube videos, this is the YouTube video ID. For uploaded videos, this may be a file name or path.",
                            "example": "AyWgmsUxXR8"
                          },
                          "duration": {
                            "type": "string",
                            "description": "Duration of the video in MM:SS format.",
                            "example": "22:01"
                          },
                          "media_type": {
                            "type": "string",
                            "description": "Type of video source. Possible values:\n- `2`: Upload MP4 Video\n- `3`: MP4 Video Link\n- `4`: YouTube Video ID\n- `5`: Vimeo Video ID\n- `6`: Dailymotion Video ID\n- `7`: MPD Video Link\n- `8`: M3U8 Video Link",
                            "example": "4",
                            "enum": [
                              "2",
                              "3",
                              "4",
                              "5",
                              "6",
                              "7",
                              "8"
                            ]
                          },
                          "deleted_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time",
                            "description": "Timestamp when the video was deleted, or null if not deleted.",
                            "example": null
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the video was created.",
                            "example": "2025-02-08T12:58:14.000000Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the video was last updated.",
                            "example": "2025-02-08T12:58:14.000000Z"
                          },
                          "cover_photo": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL to the cover photo image for the video.",
                            "example": "https://d2c58p2vdu8kb2.cloudfront.net/cover_photo/BbC3mhHtM7n1znGLGxnqWh4LzQIWCrFo2uyWKW2u.jpg"
                          }
                        }
                      }
                    },
                    "first_page_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to the first page of results.",
                      "example": "https://app.thefaithapp.com/api/v1/open/videos?page=1"
                    },
                    "from": {
                      "type": "integer",
                      "description": "Index of the first item returned.",
                      "example": 1
                    },
                    "last_page": {
                      "type": "integer",
                      "description": "Last page number of the result set.",
                      "example": 1
                    },
                    "last_page_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to the last page of results.",
                      "example": "https://app.thefaithapp.com/api/v1/open/videos?page=1"
                    },
                    "links": {
                      "type": "array",
                      "description": "Pagination navigation links.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "uri",
                            "description": "URL for the page link, or null if not available.",
                            "example": null
                          },
                          "label": {
                            "type": "string",
                            "description": "Label for the page link (e.g., 'Next', 'Previous', or page number).",
                            "example": "&laquo; Previous"
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Whether this page link is active.",
                            "example": false
                          }
                        }
                      }
                    },
                    "next_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri",
                      "description": "URL to the next page of results, or null if on the last page.",
                      "example": null
                    },
                    "path": {
                      "type": "string",
                      "format": "uri",
                      "description": "Base path for the paginated results.",
                      "example": "https://app.thefaithapp.com/api/v1/open/videos"
                    },
                    "per_page": {
                      "type": "integer",
                      "description": "Number of items per page.",
                      "example": 30
                    },
                    "prev_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri",
                      "description": "URL to the previous page of results, or null if on the first page.",
                      "example": null
                    },
                    "to": {
                      "type": "integer",
                      "description": "Index of the last item returned.",
                      "example": 2
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of items available.",
                      "example": 2
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "current_page": 1,
                      "data": [
                        {
                          "id": 2,
                          "client_id": 2,
                          "category_id": 2,
                          "title": "A Man Works For His Wife's Father While She Spends Time With Other Guys",
                          "description": "Today we're reviewing the comedy-drama film from 2007. Get ready for incredible plot twists!\nA man marries a rich woman and works for her father. At the same time, his wife has a habit of inviting strangers to visit to get to know them better, which her husband does not know about.",
                          "source": "AyWgmsUxXR8",
                          "duration": "22:01",
                          "media_type": "4",
                          "deleted_at": null,
                          "created_at": "2025-02-08T12:58:14.000000Z",
                          "updated_at": "2025-02-08T12:58:14.000000Z",
                          "cover_photo": "https://d2c58p2vdu8kb2.cloudfront.net/cover_photo/BbC3mhHtM7n1znGLGxnqWh4LzQIWCrFo2uyWKW2u.jpg"
                        }
                      ],
                      "first_page_url": "https://app.thefaithapp.com/api/v1/open/videos?page=1",
                      "from": 1,
                      "last_page": 1,
                      "last_page_url": "https://app.thefaithapp.com/api/v1/open/videos?page=1",
                      "links": [
                        {
                          "url": null,
                          "label": "&laquo; Previous",
                          "active": false
                        },
                        {
                          "url": "https://app.thefaithapp.com/api/v1/open/videos?page=1",
                          "label": "1",
                          "active": true
                        },
                        {
                          "url": null,
                          "label": "Next &raquo;",
                          "active": false
                        }
                      ],
                      "next_page_url": null,
                      "path": "https://app.thefaithapp.com/api/v1/open/videos",
                      "per_page": 30,
                      "prev_page_url": null,
                      "to": 2,
                      "total": 2
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key or Firebase token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "User not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/open/streamings": {
      "get": {
        "summary": "Get Live Streamings",
        "description": "Retrieve the current live video and audio streaming information for the authenticated user's church.",
        "tags": [
          "Open API"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Your client API key from the dashboard (Settings page).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current live video and audio streaming information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "video_streaming": {
                      "type": "object",
                      "description": "Information about the current live video stream.",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Unique identifier for the video stream.",
                          "example": 1
                        },
                        "live_title": {
                          "type": "string",
                          "description": "Title of the live video stream.",
                          "example": "REVERE 24/7 Worship Live Stream"
                        },
                        "source": {
                          "type": "string",
                          "description": "Type of video streaming source. Possible values:\n- `0`: RTMP Live\n- `1`: YouTube Live ID\n- `2`: M3U8 URL",
                          "example": "1",
                          "enum": [
                            "0",
                            "1",
                            "2"
                          ]
                        },
                        "live_stream_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL to the live video stream (e.g., YouTube embed link).",
                          "example": "https://www.youtube.com/embed/M94RrCFqaw4?si=Ma17eZPBxSWfzZQi"
                        },
                        "live_status": {
                          "type": "integer",
                          "description": "Live status of the video stream. `0` = live, `1` = not live.",
                          "example": 0,
                          "enum": [
                            0,
                            1
                          ]
                        },
                        "client_id": {
                          "type": "integer",
                          "description": "ID of the church/client this stream belongs to.",
                          "example": 2
                        },
                        "deleted_at": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time",
                          "description": "Timestamp when the stream was deleted, or null if not deleted.",
                          "example": null
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp when the stream was created.",
                          "example": "2025-05-02T21:50:44.000000Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp when the stream was last updated.",
                          "example": "2025-05-02T21:50:44.000000Z"
                        }
                      }
                    },
                    "audio_streaming": {
                      "type": "object",
                      "description": "Information about the current live audio stream.",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Unique identifier for the audio stream.",
                          "example": 1
                        },
                        "title": {
                          "type": "string",
                          "description": "Title of the audio stream.",
                          "example": "teste"
                        },
                        "stream_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL to the live audio stream.",
                          "example": "https://stream.zeno.fm/h3d42qflyiquv"
                        },
                        "type": {
                          "type": "string",
                          "description": "Type identifier for the audio stream.",
                          "example": "0"
                        },
                        "status": {
                          "type": "string",
                          "description": "Live status of the audio stream. `0` = live, `1` = not live.",
                          "example": "0",
                          "enum": [
                            "0",
                            "1"
                          ]
                        },
                        "thumbnail": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL to the thumbnail image for the audio stream.",
                          "example": "https://i0.wp.com/www.robertrickman.net/wp-content/uploads/2015/05/stock-footage-audio-spectrum-loop.jpg"
                        },
                        "client_id": {
                          "type": "integer",
                          "description": "ID of the church/client this stream belongs to.",
                          "example": 2
                        },
                        "deleted_at": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time",
                          "description": "Timestamp when the stream was deleted, or null if not deleted.",
                          "example": null
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp when the stream was created.",
                          "example": "2025-05-02T21:50:13.000000Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp when the stream was last updated.",
                          "example": "2025-05-02T21:50:13.000000Z"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "video_streaming": {
                        "id": 1,
                        "live_title": "REVERE 24/7 Worship Live Stream",
                        "source": "1",
                        "live_stream_url": "https://www.youtube.com/embed/M94RrCFqaw4?si=Ma17eZPBxSWfzZQi",
                        "live_status": 0,
                        "client_id": 2,
                        "deleted_at": null,
                        "created_at": "2025-05-02T21:50:44.000000Z",
                        "updated_at": "2025-05-02T21:50:44.000000Z"
                      },
                      "audio_streaming": {
                        "id": 1,
                        "title": "teste",
                        "stream_url": "https://stream.zeno.fm/h3d42qflyiquv",
                        "type": "0",
                        "status": "0",
                        "thumbnail": "https://i0.wp.com/www.robertrickman.net/wp-content/uploads/2015/05/stock-footage-audio-spectrum-loop.jpg",
                        "client_id": 2,
                        "deleted_at": null,
                        "created_at": "2025-05-02T21:50:13.000000Z",
                        "updated_at": "2025-05-02T21:50:13.000000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key or Firebase token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "User not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/open/devotionals": {
      "get": {
        "summary": "Get Devotionals",
        "description": "Retrieve devotionals for the authenticated user's church. When X-Client-Date header is provided, returns a single devotional for that date with metadata. Otherwise, returns a paginated list of devotionals.",
        "tags": [
          "Open API"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Your client API key from the dashboard (Settings page).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Client-Date",
            "in": "header",
            "description": "The date for which to retrieve the devotional (format: YYYY-MM-DD). If provided, returns a single devotional for that date with metadata. If not provided, returns a paginated list of devotionals.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "X-Client-Timezone",
            "in": "header",
            "description": "The timezone to use for date calculations (e.g., 'America/New_York'). Only used when X-Client-Date is provided. If not provided, uses UTC.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter devotionals. Only used when X-Client-Date is not provided.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (default: 1). Only used when X-Client-Date is not provided.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Devotional information. Returns either a single devotional with metadata when X-Client-Date is provided, or a paginated list of devotionals when no date is specified.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/DevotionalResponse"
                    },
                    {
                      "$ref": "#/components/schemas/PaginatedDevotionalsResponse"
                    }
                  ]
                },
                "examples": {
                  "single_devotional": {
                    "summary": "Response when X-Client-Date header is provided",
                    "value": {
                      "devotional": {
                        "id": 1,
                        "client_id": 2,
                        "thumbnail": "devotionals/NIh2IeZv2g1k4AoNVhkoQarVWAkSAAnQLrr4DF7j.jpg",
                        "title": "We're Not Mere Humans",
                        "author": "Chris Parker",
                        "content": "<div class=\"wp-block-media-text alignwide\">...</div>",
                        "bible_reading": "<p><strong><em>These things have I written unto you...</em></strong></p>",
                        "confession": "<p><strong>CONFESSION</strong></p>...",
                        "studies": "<p><strong>FURTHER STUDY:</strong></p>...",
                        "date": "2025-05-03T00:00:00.000000Z",
                        "created_at": "2025-05-03T06:04:22.000000Z",
                        "updated_at": "2025-05-03T06:07:05.000000Z",
                        "deleted_at": null,
                        "tags": ["prayer"],
                        "is_recurring": false,
                        "recurrence_end_date": null,
                        "version": 1,
                        "original_id": null
                      },
                      "metadata": {
                        "is_recurring": false,
                        "next_available_date": null,
                        "has_past_devotionals": false
                      },
                      "navigation": {
                        "previous_date": "2024-05-02",
                        "next_date": "2024-05-04"
                      }
                    }
                  },
                  "paginated_list": {
                    "summary": "Response when no X-Client-Date header is provided",
                    "value": {
                      "current_page": 1,
                      "data": [
                        {
                          "id": 1,
                          "client_id": 2,
                          "thumbnail": "https://d2c58p2vdu8kb2.cloudfront.net/devotionals/NIh2IeZv2g1k4AoNVhkoQarVWAkSAAnQLrr4DF7j.jpg",
                          "title": "We're Not Mere Humans",
                          "author": "Chris Parker",
                          "content": "<div class=\"wp-block-media-text alignwide\">...</div>",
                          "bible_reading": "<p><strong><em>These things have I written unto you...</em></strong></p>",
                          "confession": "<p><strong>CONFESSION</strong></p>...",
                          "studies": "<p><strong>FURTHER STUDY:</strong></p>...",
                          "date": "2025-05-03T00:00:00.000000Z",
                          "created_at": "2025-05-03T06:04:22.000000Z",
                          "updated_at": "2025-05-03T06:07:05.000000Z",
                          "deleted_at": null,
                          "tags": ["prayer"],
                          "is_recurring": false,
                          "recurrence_end_date": null,
                          "version": 1,
                          "original_id": null
                        }
                      ],
                      "first_page_url": "http://127.0.0.1:8000/api/devotionals?page=1",
                      "from": 1,
                      "last_page": 1,
                      "last_page_url": "http://127.0.0.1:8000/api/devotionals?page=1",
                      "links": [
                        {
                          "url": null,
                          "label": "&laquo; Previous",
                          "active": false
                        },
                        {
                          "url": "http://127.0.0.1:8000/api/devotionals?page=1",
                          "label": "1",
                          "active": true
                        },
                        {
                          "url": null,
                          "label": "Next &raquo;",
                          "active": false
                        }
                      ],
                      "next_page_url": null,
                      "path": "http://127.0.0.1:8000/api/devotionals",
                      "per_page": 30,
                      "prev_page_url": null,
                      "to": 1,
                      "total": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key or Firebase token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User or devotional not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "User not found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error - Invalid date format or timezone.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid date format. Expected YYYY-MM-DD"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/open/church": {
      "get": {
        "summary": "Get Church Profile",
        "description": "Retrieve the profile information for the authenticated user's church, including socials and branches.",
        "tags": [
          "Open API"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Your client API key from the dashboard (Settings page).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Church profile information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "church": {
                      "type": "object",
                      "description": "Church profile object.",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Unique identifier for the church.",
                          "example": 2
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the church.",
                          "example": "Monk House Maker"
                        },
                        "email": {
                          "type": "string",
                          "description": "Contact email for the church.",
                          "example": "emilyjanemdn@gmail.com"
                        },
                        "location": {
                          "type": "string",
                          "description": "Physical address or location of the church.",
                          "example": "4078 Poco Mas Drive"
                        },
                        "image": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL to the church's image or logo.",
                          "example": "https://d2c58p2vdu8kb2.cloudfront.net/clients/wcwOY98v6H9Aq4ag8vOnDXMgGXfyZyIJmRyBguj9.jpg"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp when the church was created.",
                          "example": "2025-02-08T11:55:32.000000Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp when the church was last updated.",
                          "example": "2025-05-24T07:56:51.000000Z"
                        },
                        "about": {
                          "type": "string",
                          "description": "About or description of the church (may contain HTML).",
                          "example": "<p data-start=\"86\" data-end=\"423\"><strong data-start=\"86\" data-end=\"109\">Kingdom Life Church</strong> is a Christ-centered community passionate about worship, discipleship, and outreach. Located in the heart of the city, we welcome people from all walks of life to experience the love and grace of God. Our mission is to raise up faithful believers who impact their families, workplaces, and communities for Christ.</p>\n<p data-start=\"425\" data-end=\"872\">One of our core ministries is the <strong data-start=\"459\" data-end=\"482\">Compassion Ministry</strong>, which focuses on serving the practical needs of those around us. From monthly food drives and clothing donations to visiting the sick and supporting single-parent homes, this ministry is rooted in the belief that small acts of kindness can lead to life-changing encounters with God. Volunteers in this ministry are the hands and feet of Jesus, spreading hope and love throughout the city.</p>\n<p data-start=\"874\" data-end=\"1153\">Whether you're looking for a place to grow spiritually or a way to make a difference, the Compassion Ministry offers a meaningful way to serve. We invite anyone with a heart to help others to join us as we continue to be a light in our community, one act of compassion at a time.</p>"
                        },
                        "giving_link": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL for online giving/donations for the church.",
                          "example": "http://127.0.0.1:8000/give/2"
                        },
                        "prayer_request_link": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL for submitting prayer requests to the church.",
                          "example": "http://127.0.0.1:8000/prayer-requests/2"
                        },
                        "socials": {
                          "type": "object",
                          "description": "Social media links for the church.",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "Unique identifier for the socials object.",
                              "example": 1
                            },
                            "client_id": {
                              "type": "integer",
                              "description": "ID of the church/client.",
                              "example": 2
                            },
                            "facebook": {
                              "type": "string",
                              "description": "Facebook page URL or handle.",
                              "example": "www.facebook.com/monkhouse"
                            },
                            "instagram": {
                              "type": "string",
                              "description": "Instagram handle.",
                              "example": "www.instagram.com/monk_house"
                            },
                            "twitter": {
                              "type": "string",
                              "description": "Twitter/X handle.",
                              "example": "www.x.com/monkhouse_"
                            },
                            "youtube": {
                              "type": "string",
                              "description": "YouTube channel URL or handle.",
                              "example": "www.youtube.com/@mkhouse"
                            },
                            "tiktok": {
                              "type": "string",
                              "description": "TikTok handle.",
                              "example": "www.tiktok.com/@mk2000"
                            },
                            "deleted_at": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "format": "date-time",
                              "description": "Timestamp when the socials were deleted, or null if not deleted.",
                              "example": null
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Timestamp when the socials were created.",
                              "example": "2025-05-03T06:31:31.000000Z"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Timestamp when the socials were last updated.",
                              "example": "2025-05-03T06:31:31.000000Z"
                            }
                          }
                        },
                        "branches": {
                          "type": "array",
                          "description": "List of branch objects for the church.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "description": "Unique identifier for the branch.",
                                "example": 1
                              },
                              "client_id": {
                                "type": "integer",
                                "description": "ID of the church/client.",
                                "example": 2
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the branch.",
                                "example": "Reno Branch"
                              },
                              "location": {
                                "type": "string",
                                "description": "Physical address of the branch.",
                                "example": "596 Sheila Lane Reno, NV 89501"
                              },
                              "pastor": {
                                "type": "string",
                                "description": "Name of the branch pastor.",
                                "example": "Katelyn C. Warne"
                              },
                              "contact": {
                                "type": "string",
                                "description": "Contact phone number for the branch.",
                                "example": "+1 775-370-2016"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Timestamp when the branch was created.",
                                "example": "2025-05-03T06:32:50.000000Z"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Timestamp when the branch was last updated.",
                                "example": "2025-05-03T06:32:50.000000Z"
                              },
                              "deleted_at": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "format": "date-time",
                                "description": "Timestamp when the branch was deleted, or null if not deleted.",
                                "example": null
                              }
                            }
                          }
                        },
                        "gatherings": {
                          "type": "array",
                          "description": "List of gatherings/meetings for the church.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "description": "Unique identifier for the gathering.",
                                "example": 1
                              },
                              "client_id": {
                                "type": "integer",
                                "description": "ID of the church/client this gathering belongs to.",
                                "example": 2
                              },
                              "gathering_type_id": {
                                "type": "integer",
                                "description": "ID of the gathering type. Possible values:\n- `1`: Service - Regular worship services including Sunday services, midweek services, etc.\n- `2`: Study - Bible study groups, Sunday school, discipleship classes\n- `3`: Prayer - Regular prayer gatherings, prayer vigils\n- `4`: Youth - Youth services, youth meetings, youth activities\n- `5`: Children - Children's church, Sunday school, children's activities\n- `6`: Food Pantry - Food distribution services, community feeding programs\n- `7`: Outreach - Community outreach, evangelism programs\n- `8`: Fellowship - Fellowship meals, social gatherings, community events\n- `9`: Choir - Choir rehearsals, music ministry practices\n- `10`: Counseling - Pastoral counseling, support groups",
                                "example": 1
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the gathering.",
                                "example": "First Service"
                              },
                              "day_of_week": {
                                "type": "string",
                                "description": "Day of the week when the gathering occurs.",
                                "example": "Sunday"
                              },
                              "start_time": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Start time of the gathering.",
                                "example": "2025-05-24T10:00:00.000000Z"
                              },
                              "end_time": {
                                "type": "string",
                                "format": "date-time",
                                "description": "End time of the gathering.",
                                "example": "2025-05-24T13:51:00.000000Z"
                              },
                              "description": {
                                "type": "string",
                                "description": "Description of the gathering.",
                                "example": "This is our first service"
                              },
                              "is_active": {
                                "type": "boolean",
                                "description": "Whether the gathering is currently active.",
                                "example": true
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Timestamp when the gathering was created.",
                                "example": "2025-05-24T07:51:09.000000Z"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Timestamp when the gathering was last updated.",
                                "example": "2025-05-24T08:26:30.000000Z"
                              },
                              "deleted_at": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "format": "date-time",
                                "description": "Timestamp when the gathering was deleted, or null if not deleted.",
                                "example": null
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "church": {
                        "id": 2,
                        "name": "Monk House Maker",
                        "email": "emilyjanemdn@gmail.com",
                        "location": "4078 Poco Mas Drive",
                        "image": "https://d2c58p2vdu8kb2.cloudfront.net/clients/wcwOY98v6H9Aq4ag8vOnDXMgGXfyZyIJmRyBguj9.jpg",
                        "created_at": "2025-02-08T11:55:32.000000Z",
                        "updated_at": "2025-05-24T07:56:51.000000Z",
                        "about": "<p data-start=\"86\" data-end=\"423\"><strong data-start=\"86\" data-end=\"109\">Kingdom Life Church</strong> is a Christ-centered community passionate about worship, discipleship, and outreach. Located in the heart of the city, we welcome people from all walks of life to experience the love and grace of God. Our mission is to raise up faithful believers who impact their families, workplaces, and communities for Christ.</p>\n<p data-start=\"425\" data-end=\"872\">One of our core ministries is the <strong data-start=\"459\" data-end=\"482\">Compassion Ministry</strong>, which focuses on serving the practical needs of those around us. From monthly food drives and clothing donations to visiting the sick and supporting single-parent homes, this ministry is rooted in the belief that small acts of kindness can lead to life-changing encounters with God. Volunteers in this ministry are the hands and feet of Jesus, spreading hope and love throughout the city.</p>\n<p data-start=\"874\" data-end=\"1153\">Whether you're looking for a place to grow spiritually or a way to make a difference, the Compassion Ministry offers a meaningful way to serve. We invite anyone with a heart to help others to join us as we continue to be a light in our community, one act of compassion at a time.</p>",
                        "giving_link": "http://127.0.0.1:8000/give/2",
                        "prayer_request_link": "http://127.0.0.1:8000/prayer-requests/2",
                        "socials": {
                          "id": 1,
                          "client_id": 2,
                          "facebook": "www.facebook.com/monkhouse",
                          "instagram": "www.instagram.com/monk_house",
                          "twitter": "www.x.com/monkhouse_",
                          "youtube": "www.youtube.com/@mkhouse",
                          "tiktok": "www.tiktok.com/@mk2000",
                          "deleted_at": null,
                          "created_at": "2025-05-03T06:31:31.000000Z",
                          "updated_at": "2025-05-03T06:31:31.000000Z"
                        },
                        "branches": [
                          {
                            "id": 1,
                            "client_id": 2,
                            "name": "Reno Branch",
                            "location": "596 Sheila Lane Reno, NV 89501",
                            "pastor": "Katelyn C. Warne",
                            "contact": "+1 775-370-2016",
                            "created_at": "2025-05-03T06:32:50.000000Z",
                            "updated_at": "2025-05-03T06:32:50.000000Z",
                            "deleted_at": null
                          }
                        ],
                        "gatherings": [
                          {
                            "id": 1,
                            "client_id": 2,
                            "gathering_type_id": 1,
                            "name": "First Service",
                            "day_of_week": "Sunday",
                            "start_time": "2025-05-24T10:00:00.000000Z",
                            "end_time": "2025-05-24T13:51:00.000000Z",
                            "description": "This is our first service",
                            "is_active": true,
                            "created_at": "2025-05-24T07:51:09.000000Z",
                            "updated_at": "2025-05-24T08:26:30.000000Z",
                            "deleted_at": null
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key or Firebase token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User or church not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Church not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/open/events": {
      "get": {
        "summary": "Get Events",
        "description": "Retrieve a paginated list of events for the authenticated user's church. Supports optional pagination.",
        "tags": [
          "Open API"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Your client API key from the dashboard (Settings page).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (default: 1).",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of events.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "current_page": {
                      "type": "integer",
                      "description": "Current page number of the result set.",
                      "example": 1
                    },
                    "data": {
                      "type": "array",
                      "description": "List of event objects.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Unique identifier for the event.",
                            "example": 4
                          },
                          "deleted_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time",
                            "description": "Timestamp when the event was deleted, or null if not deleted.",
                            "example": null
                          },
                          "client_id": {
                            "type": "integer",
                            "description": "ID of the church/client this event belongs to.",
                            "example": 2
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the event.",
                            "example": "Kingdom Impartation"
                          },
                          "thumbnail": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL to the event's thumbnail image.",
                            "example": "https://d2c58p2vdu8kb2.cloudfront.net/events/WbYWMPFRYnKfCyYlReLjrKRyrP6SkTmGY6KhYBI9.png"
                          },
                          "details": {
                            "type": "string",
                            "description": "Details or description of the event (may contain HTML).",
                            "example": "<div class=\"fusion-fullwidth fullwidth-box ...\">"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time of the event.",
                            "example": "2025-04-17 00:00:00"
                          },
                          "time": {
                            "type": "string",
                            "description": "Time of the event (HH:MM:SS).",
                            "example": "09:19:00"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the event was created.",
                            "example": "2025-03-23T18:20:02.000000Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the event was last updated.",
                            "example": "2025-03-23T18:20:02.000000Z"
                          }
                        }
                      }
                    },
                    "first_page_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to the first page of results.",
                      "example": "https://app.thefaithapp.com/api/v1/open/events?page=1"
                    },
                    "from": {
                      "type": "integer",
                      "description": "Index of the first item returned.",
                      "example": 1
                    },
                    "last_page": {
                      "type": "integer",
                      "description": "Last page number of the result set.",
                      "example": 1
                    },
                    "last_page_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to the last page of results.",
                      "example": "https://app.thefaithapp.com/api/v1/open/events?page=1"
                    },
                    "links": {
                      "type": "array",
                      "description": "Pagination navigation links.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "uri",
                            "description": "URL for the page link, or null if not available.",
                            "example": null
                          },
                          "label": {
                            "type": "string",
                            "description": "Label for the page link (e.g., 'Next', 'Previous', or page number).",
                            "example": "&laquo; Previous"
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Whether this page link is active.",
                            "example": false
                          }
                        }
                      }
                    },
                    "next_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri",
                      "description": "URL to the next page of results, or null if on the last page.",
                      "example": null
                    },
                    "path": {
                      "type": "string",
                      "format": "uri",
                      "description": "Base path for the paginated results.",
                      "example": "https://app.thefaithapp.com/api/v1/open/events"
                    },
                    "per_page": {
                      "type": "integer",
                      "description": "Number of items per page.",
                      "example": 10
                    },
                    "prev_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri",
                      "description": "URL to the previous page of results, or null if on the first page.",
                      "example": null
                    },
                    "to": {
                      "type": "integer",
                      "description": "Index of the last item returned.",
                      "example": 1
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of items available.",
                      "example": 1
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "current_page": 1,
                      "data": [
                        {
                          "id": 4,
                          "deleted_at": null,
                          "client_id": 2,
                          "title": "Kingdom Impartation",
                          "thumbnail": "https://d2c58p2vdu8kb2.cloudfront.net/events/WbYWMPFRYnKfCyYlReLjrKRyrP6SkTmGY6KhYBI9.png",
                          "details": "<div class=\"fusion-fullwidth fullwidth-box ...\">",
                          "date": "2025-04-17 00:00:00",
                          "time": "09:19:00",
                          "created_at": "2025-03-23T18:20:02.000000Z",
                          "updated_at": "2025-03-23T18:20:02.000000Z"
                        }
                      ],
                      "first_page_url": "https://app.thefaithapp.com/api/v1/open/events?page=1",
                      "from": 1,
                      "last_page": 1,
                      "last_page_url": "https://app.thefaithapp.com/api/v1/open/events?page=1",
                      "links": [
                        {
                          "url": null,
                          "label": "&laquo; Previous",
                          "active": false
                        },
                        {
                          "url": "https://app.thefaithapp.com/api/v1/open/events?page=1",
                          "label": "1",
                          "active": true
                        },
                        {
                          "url": null,
                          "label": "Next &raquo;",
                          "active": false
                        }
                      ],
                      "next_page_url": null,
                      "path": "https://app.thefaithapp.com/api/v1/open/events",
                      "per_page": 10,
                      "prev_page_url": null,
                      "to": 1,
                      "total": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key or Firebase token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User or events not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "User not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/open/branches": {
      "get": {
        "summary": "Get Church Branches",
        "description": "Retrieve a paginated list of branches for the authenticated user's church. Supports optional pagination.",
        "tags": [
          "Open API"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "description": "Your client API key from the dashboard (Settings page).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (default: 1).",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of church branches.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "current_page": {
                      "type": "integer",
                      "description": "Current page number of the result set.",
                      "example": 1
                    },
                    "data": {
                      "type": "array",
                      "description": "List of branch objects.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Unique identifier for the branch.",
                            "example": 1
                          },
                          "client_id": {
                            "type": "integer",
                            "description": "ID of the church/client this branch belongs to.",
                            "example": 2
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the branch.",
                            "example": "Reno Branch"
                          },
                          "location": {
                            "type": "string",
                            "description": "Physical address of the branch.",
                            "example": "596 Sheila Lane Reno, NV 89501"
                          },
                          "pastor": {
                            "type": "string",
                            "description": "Name of the branch pastor.",
                            "example": "Katelyn C. Warne"
                          },
                          "contact": {
                            "type": "string",
                            "description": "Contact phone number for the branch.",
                            "example": "+1 775-370-2016"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the branch was created.",
                            "example": "2025-05-03T06:32:50.000000Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the branch was last updated.",
                            "example": "2025-05-03T06:32:50.000000Z"
                          },
                          "deleted_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time",
                            "description": "Timestamp when the branch was deleted, or null if not deleted.",
                            "example": null
                          },
                          "gatherings": {
                            "type": "array",
                            "description": "List of gatherings/meetings for this branch.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "description": "Unique identifier for the gathering.",
                                  "example": 1
                                },
                                "branch_id": {
                                  "type": "integer",
                                  "description": "ID of the branch this gathering belongs to.",
                                  "example": 1
                                },
                                "gathering_type_id": {
                                  "type": "integer",
                                  "description": "ID of the gathering type. Possible values:\n- `1`: Service - Regular worship services including Sunday services, midweek services, etc.\n- `2`: Study - Bible study groups, Sunday school, discipleship classes\n- `3`: Prayer - Regular prayer gatherings, prayer vigils\n- `4`: Youth - Youth services, youth meetings, youth activities\n- `5`: Children - Children's church, Sunday school, children's activities\n- `6`: Food Pantry - Food distribution services, community feeding programs\n- `7`: Outreach - Community outreach, evangelism programs\n- `8`: Fellowship - Fellowship meals, social gatherings, community events\n- `9`: Choir - Choir rehearsals, music ministry practices\n- `10`: Counseling - Pastoral counseling, support groups",
                                  "example": 1
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Name of the gathering.",
                                  "example": "Sunday First Service"
                                },
                                "day_of_week": {
                                  "type": "string",
                                  "description": "Day of the week when the gathering occurs.",
                                  "example": "Sunday"
                                },
                                "start_time": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Start time of the gathering.",
                                  "example": "2025-05-24T10:00:00.000000Z"
                                },
                                "end_time": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "End time of the gathering.",
                                  "example": "2025-05-24T11:00:00.000000Z"
                                },
                                "description": {
                                  "type": "string",
                                  "description": "Description of the gathering.",
                                  "example": "This is our weekly sunday service"
                                },
                                "is_active": {
                                  "type": "boolean",
                                  "description": "Whether the gathering is currently active.",
                                  "example": true
                                },
                                "created_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Timestamp when the gathering was created.",
                                  "example": "2025-05-24T07:09:55.000000Z"
                                },
                                "updated_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Timestamp when the gathering was last updated.",
                                  "example": "2025-05-24T08:24:44.000000Z"
                                },
                                "deleted_at": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "format": "date-time",
                                  "description": "Timestamp when the gathering was deleted, or null if not deleted.",
                            "example": null
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "first_page_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to the first page of results.",
                      "example": "https://app.thefaithapp.com/api/v1/open/branches?page=1"
                    },
                    "from": {
                      "type": "integer",
                      "description": "Index of the first item returned.",
                      "example": 1
                    },
                    "last_page": {
                      "type": "integer",
                      "description": "Last page number of the result set.",
                      "example": 1
                    },
                    "last_page_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to the last page of results.",
                      "example": "https://app.thefaithapp.com/api/v1/open/branches?page=1"
                    },
                    "links": {
                      "type": "array",
                      "description": "Pagination navigation links.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "uri",
                            "description": "URL for the page link, or null if not available.",
                            "example": null
                          },
                          "label": {
                            "type": "string",
                            "description": "Label for the page link (e.g., 'Next', 'Previous', or page number).",
                            "example": "&laquo; Previous"
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Whether this page link is active.",
                            "example": false
                          }
                        }
                      }
                    },
                    "next_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri",
                      "description": "URL to the next page of results, or null if on the last page.",
                      "example": null
                    },
                    "path": {
                      "type": "string",
                      "format": "uri",
                      "description": "Base path for the paginated results.",
                      "example": "https://app.thefaithapp.com/api/v1/open/branches"
                    },
                    "per_page": {
                      "type": "integer",
                      "description": "Number of items per page.",
                      "example": 10
                    },
                    "prev_page_url": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri",
                      "description": "URL to the previous page of results, or null if on the first page.",
                      "example": null
                    },
                    "to": {
                      "type": "integer",
                      "description": "Index of the last item returned.",
                      "example": 1
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of items available.",
                      "example": 1
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "current_page": 1,
                      "data": [
                        {
                          "id": 1,
                          "client_id": 2,
                          "name": "Reno Branch",
                          "location": "596 Sheila Lane Reno, NV 89501",
                          "pastor": "Katelyn C. Warne",
                          "contact": "+1 775-370-2016",
                          "created_at": "2025-05-03T06:32:50.000000Z",
                          "updated_at": "2025-05-03T06:32:50.000000Z",
                          "deleted_at": null,
                          "gatherings": [
                            {
                              "id": 1,
                              "branch_id": 1,
                              "gathering_type_id": 1,
                              "name": "Sunday First Service",
                              "day_of_week": "Sunday",
                              "start_time": "2025-05-24T10:00:00.000000Z",
                              "end_time": "2025-05-24T11:00:00.000000Z",
                              "description": "This is our weekly sunday service",
                              "is_active": true,
                              "created_at": "2025-05-24T07:09:55.000000Z",
                              "updated_at": "2025-05-24T08:24:44.000000Z",
                          "deleted_at": null
                            }
                          ]
                        }
                      ],
                      "first_page_url": "https://app.thefaithapp.com/api/v1/open/branches?page=1",
                      "from": 1,
                      "last_page": 1,
                      "last_page_url": "https://app.thefaithapp.com/api/v1/open/branches?page=1",
                      "links": [
                        {
                          "url": null,
                          "label": "&laquo; Previous",
                          "active": false
                        },
                        {
                          "url": "https://app.thefaithapp.com/api/v1/open/branches?page=1",
                          "label": "1",
                          "active": true
                        },
                        {
                          "url": null,
                          "label": "Next &raquo;",
                          "active": false
                        }
                      ],
                      "next_page_url": null,
                      "path": "https://app.thefaithapp.com/api/v1/open/branches",
                      "per_page": 10,
                      "prev_page_url": null,
                      "to": 1,
                      "total": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key or Firebase token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_message": {
[...]
